<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.trustnote.wallet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="org.trustnote.wallet.TApp"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/icon_ttt"
        android:label="${appProductFlavor}_${appBuildType}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup, android:label">
        <activity
            android:name="org.trustnote.wallet.biz.ActivityMain"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:name="org.trustnote.wallet.biz.pwd.ActivityInputPwd"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name="org.trustnote.wallet.ActivityStarterChooser"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.trustnote.wallet.biz.init.ActivityInit"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity
            android:name="org.trustnote.wallet.biz.wallet.SimpleFragmentActivityBase"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name="org.trustnote.wallet.widget.CustomViewFinderScannerActivity"
            android:theme="@style/AppTheme">
        </activity>

        <!--<activity-->
            <!--android:name="com.journeyapps.barcodescanner.CaptureActivity"-->
            <!--android:screenOrientation="fullSensor"-->
            <!--tools:replace="screenOrientation" />-->

        <!--<activity-->
            <!--android:name="org.trustnote.wallet.widget.CustomScannerActivity"-->
            <!--android:screenOrientation="fullSensor"-->
            <!--android:stateNotNeeded="true"-->
            <!--android:theme="@style/zxing_CaptureTheme"-->
            <!--android:windowSoftInputMode="stateAlwaysHidden"></activity>-->

    </application>

</manifest>